target
.idea
*.swp
*.classpath
*.project
*.prefs
*.iml
.h2.server.properties
*.properties.backup
.settings
.tmp
tmp
~$*.*
.~lock.*
*.lck
.DS_Store
temp
*.log
application.log*
*.gz
*.html
/src/main/resources/Application/
*.apk
*.ipa
